<footer class="footer">

    <div class="rodape d-flex container">

        <div class="linksbox">

            <h1 class="linkstítulo">Links úteis</h1>
           
                <li>Regras de utilização</li>
                <li>Início</li>
                <li>Suporte</li>

                <li>Central de ajuda</li>
                

        </div>

        <div class="linksbox">

            <h1 class="linkstítulo">Páginas</h1>
            
                <li>Início</li>

                <li>Campeonatos</li>



                <li>Resultados</li>
                <li>Notícias</li>
                <li>Login/Cadastro</li>

        </div>
        <div class="d-flex logotipobox">
            <img src="assets/images/logo.svg" class="logotipo2" alt="Logotipo" title="E-Players logotipo">
          
        </div>

        <div class="cadastroredes d-flex">
            <p class="assinenewsletter">Faça parte do nosso clan, assine nossa newsletter!</p>
            <div class="d-flex cadastroemail">

                <div class="email">E-mail</div>
                <div class="cadastrar">Cadastrar</div>

            </div>

            <div class="redesocial"> Siga-nos em:
                <img src="assets/images/logo-instagram.png" class="logoinsta" alt="logo instagran">
                <img src="assets/images/logo-facebook.png" class="logoface" alt="logo facebook">
                <img src="assets/images/logo-yt.png" class="logoyoutube" alt="logo youtube">
            </div>


        </div>

    </div>

</footer>
